<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of getInactiveUsers()">
    <span class="fs-5 fw-bold">{{ user.name }}</span> <br />
    <div class="fs-6">
      Status:
      <span class="text-success">{{ user.status }}</span>
      <button 
        class="btn btn-success float-end" 
        style="
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 0.75rem;
        " 
        (click)="activateUser(user)"
      >
        Activate
      </button>
    </div>
  </li>
</ul>