<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="d-flex justify-content-between">
        <h1>Assignment 115</h1>

        <div class="card text-bg-secondary">
          <div class="card-body">
            Number of activations:
            <span class="fw-bold">
              {{ counterService.getActivationsNumber() }}
            </span>

            |

            Number of dectivations:
            <span class="fw-bold">
              {{ counterService.getDeactivationsNumber() }}
            </span>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 offset-md-2">
      <app-inactive-users></app-inactive-users>
    </div>
    <div class="col-6 col-md-4">
      <app-active-users></app-active-users>
    </div>
  </div>
</div>